node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
.vscode/settings.json

# server
/server/node_modules
server/constants.ts

# old things, e.g. components
/OLD/